<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Evaluate New Nlp will help you process texts using AI">
    <meta name="keywords" content="NLP">
    <meta name="author" content="Khalil Sa">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Texessor</title>
    <link rel="shortcut icon" href="./images/texticon.png">
</head>

<body>

    <header>
        <div class="">
            <img src="./images/texticon.png" alt="logo" id="logo" /> Texessor
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <label for="textarea">Text To Be Analyzed</label>
                <textarea id="textarea" placeholder="Enter Your Text Here"></textarea>
                <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            </form>
        </section>

        <section>
            <strong>Form Results:</strong>
            <div id="results"></div>
        </section>
    </main>

    <footer>
        <span>Evaluate News Project (NLP) &copy 2021</span>
        <span class="r-ft-sp">Using meaning cloud sentiment analysis v2.1 API</span>
    </footer>

    <!-- <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script> -->

</body>

</html>