header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: burlywood;
    border-bottom: 1px solid rgb(156, 115, 61);
}

#logo {
    width: 25px;
    margin-bottom: -5px;
}